@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-aladin {
  font-family: "Aladin", system-ui;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

